{% block collection_add_btn %}
    {% if allow_add and (add_btn_label is not empty or add_btn_icon is not empty) %}
        <button type="button"{% if add_btn_class != false %} class="{{ add_btn_class }}"{% endif %}
                id="{{ form.vars.id }}_btn_add"
                data-prototype-add="#{{ form.vars.id }}">
            {% if add_btn_icon is not empty %}
                <i class="{{ add_btn_icon }}"></i>
            {% endif %}
            {% if add_btn_label is not empty %}
                {% if add_btn_label_translation_domain == false %}
                    {{ add_btn_label }}
                {% else %}
                    {{ add_btn_label|trans({}, add_btn_label_translation_domain) }}
                {% endif %}
            {% endif %}
        </button>
    {% endif %}
{% endblock collection_add_btn %}

{% block collection_delete_btn %}
    {% if in_collection and collection_allow_delete|default(false) and (collection_delete_btn_label is not empty or collection_delete_btn_icon is not empty) %}
        <button type="button"
                {%- if collection_delete_btn_class != false %} class="{{ collection_delete_btn_class }}"{% endif %}
                data-prototype-delete="#{{ form.vars.collection_delete_id }}"
                {%- if collection_delete_btn_confirm != false -%}
                    {{- ' ' -}}data-prototype-delete-confirm="
                    {%- if collection_delete_btn_confirm_translation_domain == false -%}
                        {{- collection_delete_btn_confirm|e('html_attr') -}}
                    {%- else -%}
                        {{- collection_delete_btn_confirm|trans(label_translation_parameters|default({}), collection_delete_btn_confirm_translation_domain)|e('html_attr') -}}
                    {%- endif -%}"
                {%- endif -%}
        >
            {% if collection_delete_btn_icon is not empty %}
                <i class="{{ collection_delete_btn_icon }}"></i>
            {% endif %}
            {% if collection_delete_btn_label is not empty %}
                {% if collection_delete_btn_label_translation_domain == false %}
                    {{ collection_delete_btn_label }}
                {% else %}
                    {{ collection_delete_btn_label|trans(label_translation_parameters|default({}), collection_delete_btn_label_translation_domain) }}
                {% endif %}
            {% endif %}
        </button>
    {% endif -%}
{% endblock collection_delete_btn %}

{% block collection_widget %}
    {% if tabs == true %}
        {{ block('tabsbar', '@DrosalysWebForm/Form/tabs_layout.html.twig') }}

        {% with %}
            {% set items = form.children %}
            {{ block('tabspanels', '@DrosalysWebForm/Form/tabs_layout.html.twig') }}
        {% endwith %}
    {% else %}
        {{ block('collection_widget', drosalys_form__form_template) }}
        {{ block('collection_add_btn') }}
    {% endif %}
{% endblock collection_widget %}

{% block form_label %}
    {{ block('form_label', drosalys_form__form_template) }}
    {{ block('collection_delete_btn') }}
{% endblock form_label %}
