{% block drosalys_select_or_create_row %}
    <div {% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
        {% if multiple %}
            {{ block('drosalys_select_or_create_multiple') }}
        {% else %}
            {{ block('drosalys_select_or_create_single') }}
        {% endif %}
    </div>
{% endblock drosalys_select_or_create_row %}

{% block drosalys_select_or_create_single %}
    <div{% if single_container_class is not empty %} class="{{ single_container_class }}"{% endif %}>
        <div{% if fields_class is not empty %} class="{{ fields_class }}"{% endif %}>
            {{ form_row(form.create) }}

            {{ form_row(form.select) }}

            {{ form_errors(form) }}
        </div>

        <div class="{{ actions_class|default('') }} actions">
            <button type="button"{% if create_btn_class is not empty %} class="{{ create_btn_class }}"{% endif %} data-select-or-create--switch-create>
                {% if create_btn_icon is not empty %}
                    <i class="{{ create_btn_icon }}"></i>
                {% endif %}

                {% if create_btn_label is not empty %}
                    {% if create_btn_label_translation_domain is empty %}
                        {{ create_btn_label }}
                    {% else %}
                        {{ create_btn_label|trans({}, create_btn_label_translation_domain) }}
                    {% endif %}
                {% endif %}
            </button>

            <button type="button"{% if select_btn_class is not empty %} class="{{ select_btn_class }}"{% endif %} data-select-or-create--switch-select hidden>
                {% if select_btn_icon is not empty %}
                    <i class="{{ select_btn_icon }}"></i>
                {% endif %}

                {% if select_btn_label is not empty %}
                    {% if select_btn_label_translation_domain is empty %}
                        {{ select_btn_label }}
                    {% else %}
                        {{ select_btn_label|trans({}, select_btn_label_translation_domain) }}
                    {% endif %}
                {% endif %}
            </button>

            {% if in_collection|default(false) %}
                {{ block('collection_delete_btn', '@DrosalysWebForm/Form/collection_layout.html.twig') }}
            {% endif %}
        </div>
    </div>

    {{ form_rest(form) }}
{% endblock drosalys_select_or_create_single %}

{% block drosalys_select_or_create_multiple %}
    {{ form_row(form.collection) }}
{% endblock drosalys_select_or_create_multiple %}
